body{
	background-color: #f0f0f0;
}
#resume-hire-me{
	margin-bottom:100px;
}
#resume-hire-me .Index-page-content{
	margin-top:50px;
}
#resume-content{
	margin-top:100px;
}
.index-page-content .btn-outline{
	background:none;
	padding-top: 200px;
	color:black;
}
#resume-hire-me  .Index-page-content .btn-outline{
	border-color: #EEBC95;
	color:black;

}
#resume-hire-me  .Index-page-content .btn-outline:hover{
	background-color: #EEBC95;
	color:black;

}

/*new*/
.jumbotron{
	background:none;
	padding-top: 200px;
	color:white;

}
.jumbotron .btn-outline {
	border-color: #EEBC95;
	color:white;
}
.jumbotron .btn-outline:hover{
	background:#EEBC95;
	color:black;
}
.jumbotron span {
	font-family: 'Teko', sans-serif;
	font-family: 'Cookie', cursive;
	font-family: 'Monoton', cursive;
}
.jumbotron .font{
	font-family: 'Lobster', cursive;
font-family: 'Barlow', sans-serif;
}
.jumbotron .display-4{
font-family: 'Lobster', cursive;
font-family: 'Barlow', sans-serif;
}

/*new en*/
body{
	height:100%;
}
.img2{
	width:100%;
	height:100%;
	background-image:url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
 background-repeat: no-repeat;
 background-size: cover;
}
.img2 .Index-page-content{
	color:white;
	padding-top:200px;
	
}
.img2 .btn{
	position:absolute;
}
.img2 .btn-outline {
	border-color: #EEBC95;
	color:white;

}
.img2 .btn-outline:hover{
	background:#EEBC95;
	color:black;
}

.section .brand{
	font-family: 'Permanent Marker', cursive;
}
.section .head4{
	font-family: 'Permanent Marker', cursive;
}
.section .body4{
	font-family: 'Alegreya', serif;

}

.section{
	margin-top:100px;
}
h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   color:white;
   font-family: 'Libre Baskerville', serif;
   font-size: 35px;
}
.navbar{
	
	min-height: 80px;

}
.navbar-brand{
	font-family: 'Teko', sans-serif;
	font-family: 'Cookie', cursive;
	font-family: 'Monoton', cursive;
}

html{
	height:100%;
}

.nav-item{
	margin: 10px;
	padding-top :.618em ;
	padding-bottom:.618em ;
font-family: 'Barlow Condensed', sans-serif;
	color: red;
	font-weight: 600;
	font-style: normal;
	font-size: 14.5px;
	letter-spacing: .20em;
	text-transform: uppercase;

}

body{
	background-color: #f0f0f0;
}

.navbar-dark .navbar-nav .active>.nav-link:hover{
	color:#EEBC95;
}
.navbar-dark .navbar-nav .active>.nav-link.active-page{
	color:#EEBC95;
}

@media (max-width: 768px) {
  nav.navbar {
    background:#000000 !important;
  }
}



footer {
    position:bottom;
    height: auto;
    bottom: 0;
    width: auto;
    
    background:#000000 !important;
    
}
footer .fab {
	padding:15px;
	color:white;
}
footer .far {
	padding:15px;
	color:white;
}
footer .fab:hover {
	color:#EEBC95;
	}
footer .far:hover {
	color:#EEBC95;
}
footer .Harsh{
		color:white;
		padding-top:15px;
		padding-left:400px;
	}
	footer .harsh2{
		padding-right:10px;
	}
