body{
	background-color: #f0f0f0;
}
.navbar{
	background-color:#008f93;
}
.navbar-brand{
	font-family: 'Teko', sans-serif;
	font-family: 'Cookie', cursive;
	font-family: 'Monoton', cursive;
}
.nav-item{
	font-family: 'Barlow Condensed', sans-serif;
	color: red;
	font-weight: 600;
	font-style: normal;
	font-size: 14.5px;
	letter-spacing: .20em;
	text-transform: uppercase;
	padding-left:10px;
	padding-right:10px; 
}
.btn-light{
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
	font-style: normal;
	font-size: 14.5px;
	letter-spacing: .20em;
	text-transform: uppercase;
}
.carousel-item img{
	width:auto;
	height:500px;
}
#resume-hire-me{
	margin-bottom:100px;
	background-color: #cdcdcd;
}
#resume-hire-me .Index-page-content{
	margin-top:50px;
}
#resume-content{
	margin-top:100px;
}
.index-page-content .btn-outline{
	background:none;
	padding-top: 200px;
	color:black;
}
#resume-hire-me  .Index-page-content .btn-outline{
	border-color: #EEBC95;
	color:black;

}
#resume-hire-me  .Index-page-content .btn-outline:hover{
	background-color: #EEBC95;
	color:black;

}
.section .brand{
	font-family: 'Permanent Marker', cursive;
}
.section .head4{
	font-family: 'Permanent Marker', cursive;
}
.section .body4{
	font-family: 'Alegreya', serif;

}

.section{
	margin-top:100px;
}
h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   color:white;
   font-family: 'Libre Baskerville', serif;
   font-size: 35px;
}
footer {
    position:bottom;
    height: auto;
    bottom: 0;
    width: auto;
    
    background:#008f93 !important;
    
}
footer .fab {
	padding:15px;
	color:white;
}
footer .far {
	padding:15px;
	color:white;
}
footer .fab:hover {
	color:#EEBC95;
	}
footer .far:hover {
	color:#EEBC95;
}
footer .Harsh{
		color:white;
		padding-top:15px;
		padding-left:400px;
	}
	footer .harsh2{
		padding-right:10px;
	}
